@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.page {
  padding: 1rem;
}

/* HEADER */
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a3d62;
}

.header-title {
  margin: 0;
  padding: 0 1rem;
  color: #f6b93b;
}

.auth-options {
  display: flex;
  height: 100%;
}

.auth-options button {
  padding: 0 1rem;
  background-color: #fad390;
  color: #0a3d62;
  font-size: 1.1rem;
}

.auth-options button:hover {
  background-color: #f6b93b;
}

/* AUTH FORM */

.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #fff3df;
  border-radius: 8px;
  background-color: #fff0d5;
  font-size: 1.1rem;
}

.form input:focus {
  border: 1px solid #0a3d62;
  box-shadow: inset 0px 0px 5px #0a3d62;
  outline: none;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #0a3d62;
  border-radius: 8px;
  background-color: #0a3d62;
  font-size: 1.1rem;
  color: white;
}

/* ERROR NOTICE */
.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eb2f06;
  border-radius: 8px;
  background-color: #e77260;
  color: white;
  opacity: 0.9;
  font-size: 0.9rem;
}

.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eb2f06;
}

/* PROJECT */

.home-title {
  text-align: center;
}

.project {
  margin-top: 1rem;
  min-height: 200px;
  border: 1px solid #0a3d62;
}

.project header {
  padding: 0 0.3rem;
  display: flex;
  justify-content: space-between;

  background-color: #0a3d62;
  color: white;
}

.project-action-btn {
  margin-left: 1rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.tasks {
  padding: 0 0.3rem;
}

.tasks h4 {
  font-weight: bold;
}

.tasks-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tasks-checkbox input {
  margin-bottom: 0;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
}

.tasks-checkbox label {
  margin-bottom: 0;
}

.task-form {
  display: flex;
  align-items: center;
}

.task-delete-icon {
  color: #0a3d62;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #0a3d62;
}

.task-add-form {
  display: flex;
}

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
  .header-title {
    font-size: 1.1rem;
  }
  .auth-options button {
    padding: 0 0.5rem;
    font-size: 1rem;
  }
}
